// out : '../css/index.css'

.bg-body-tertiary {
  // 脱标不占位
  background-color: transparent !important;
}

.navbar-collapse {
  flex-grow: 0;
}

// 小于768px时，图片250 大于等于768px时，图片400 大于等于992图片500   去掉默认高度
// 轮播图
.carousel {
  @media (max-width: 768px) {
    .carousel-item {
      height: 250px;
    }
  }
  @media (min-width: 768px) {
    .carousel-item {
      height: 400px;
    }
  }
  @media (min-width: 992px) {
    .carousel-item {
      height: 500px;
    }
  }
  .carousel-item {
    // height: 500px;
    background-size: cover;
    background-position: center 0;
  }
  .carousel-item:nth-child(1) {
    background-image: url(../assets/uploads/banner_1.jpg);
  }
  .carousel-item:nth-child(2) {
    background-image: url(../assets/uploads/banner_2.jpg);
  }
  .carousel-item:nth-child(3) {
    background-image: url(../assets/uploads/banner_3.jpg);
  }
  .carousel-item:nth-child(4) {
    background-image: url(../assets/uploads/banner_4.jpg);
  }
}

// 开源项目
//>=992 一行四个 col-lg-3
// >=768 一行二个 col-md-6
.project {
  margin-top: 60px;
  text-align: center;
  .row {
    div {
      height: 200px;
      // background-color: pink;
      margin-bottom: 10px;
      // a的间距是div的padding
      a {
        display: block;
        height: 200px;
        background-color: green;
        border-radius: 4px;
      }
      &:nth-child(1) a {
        background-color: skyblue;
      }
      &:nth-child(2) a {
        background-color: #fd6a7f;
      }
      &:nth-child(3) a {
        background-color: #7f8ea0;
      }
      &:nth-child(4) a {
        background-color: #89d04f;
      }
    }
  }
}
